@tailwind base;
@tailwind components;
@tailwind utilities;

/* Whale View Transition Animation for Theme Switch */
@keyframes scale {
  to {
    mask-size: 1000vmax;
  }
}

::view-transition-new(root) {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 128 128"><path d="M35.9187 91.56573a68.99886 68.99886 0 0 1-10.84961-3.62158l-.01593-.00568c.2832 4.51459 2.37653 9.82031 9.19885 13.91888a1.01047 1.01047 0 0 0 1.13617-.07367.99974.99974 0 0 0 .33252-1.08942 18.59123 18.59123 0 0 1 .19733-9.12592zM127.58 30.21a1.64423 1.64423 0 0 0-2.25.02 8.1764 8.1764 0 0 1-1.85 1.07 7.97416 7.97416 0 0 1-2.83.57 23.94259 23.94259 0 0 0-3.6.22 14.0561 14.0561 0 0 0-4.16 1.82c-.04.03-.25.17-.5.34a6.63241 6.63241 0 0 0-1.17-1.69 8.33736 8.33736 0 0 0-3.96-2.16 12.47924 12.47924 0 0 0-1.93-.28 5.09364 5.09364 0 0 1-2.63-.68 10.94036 10.94036 0 0 1-2.45-2.58A1.75819 1.75819 0 0 0 98.82 26a1.5424 1.5424 0 0 0-1.47 1.42c-1.92 9.4 6.94 13.94 9.95 15.19-1.45 3.95-4 8.91-8.29 11.81a28.91753 28.91753 0 0 1-16.29 4.83 38.43393 38.43393 0 0 1-22.04-7.3c-3.58229-2.56164-6.57914-5.83738-10.13-8.44A56.48173 56.48173 0 0 0 18.199 32.89264c-2.00367-.034-4.01022.03951-6.009.17736C2.06 33.54 1.17 34.28.96 35.36c-2 10.25-1.4 26.11 6.85 37.05 7.41 9.84 19.55 16.14 36.08 18.73 1.84.29 3.7.51 5.6.65-.45-.7-.86-1.41-1.24-2.12-1.36-.13-2.72-.29-4.05-.5-16-2.51-27.71-8.55-34.8-17.96C1.87 61.22 1.07 46.84 2.71 36.98c10.12 4.94 14.78 12.19 19.71 19.86.67 1.04 1.34 2.09 2.03 3.14 4.2 6.36 10.9 14 20.65 18.78a17.07942 17.07942 0 0 1-.1-1.8.96045.96045 0 0 1 1.02-.98A.99664.99664 0 0 1 47 77c0 .34.04 13.5 11.2 20.67a28.57454 28.57454 0 0 0 10.97 3.99c.94.15 3.82 1.13 3.82-.68a1.23319 1.23319 0 0 0-.3-.7c-.14-.16-.29-.32-.42-.46l-.03005-.03005c-2.24114-2.2412-3.5418-5.79006-4.59995-8.7a26.90625 26.90625 0 0 1-1.09-4.28 37.62108 37.62108 0 0 1-.46-9.71 1.00319 1.00319 0 0 1 2 .16 37.15662 37.15662 0 0 0 .01 6.07 71.53319 71.53319 0 0 0 24.5-6.2A53.86889 53.86889 0 0 1 68.97 88.5a.03674.03674 0 0 1-.03.01c.17.68.36 1.32.56 1.93a.03674.03674 0 0 0 .03-.01c16-3.48 36.44-14.23 43.51-45.65 1.03-.19 3.37-.58 3.37-.58 9.79-1.81 11.36-9.43 11.58-12.61A1.75706 1.75706 0 0 0 127.58 30.21zM30 51a2 2 0 1 1 2-2A2.00588 2.00588 0 0 1 30 51z"/><path d="M15.05519,68.3086a1.00013,1.00013,0,0,0-1.7476.9731,16.95459,16.95459,0,0,0,8.3692,6.8565,1.01046,1.01046,0,0,0,1.292-.5772.99971.99971,0,0,0-.5777-1.291A15.19755,15.19755,0,0,1,15.05519,68.3086Z"/></svg>')
    center / 0 no-repeat;
  animation: scale 2s;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  z-index: -1;
}

.dark::view-transition-new(root) {
  animation: scale 2s;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 11.1% 3.53%;

    --card: 0 0% 100%;
    --card-foreground: 210 11.1% 3.53%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 11.1% 3.53%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 11.1% 3.53%;
    --foreground: 0 0% 98%;

    --card: 210 11.1% 3.53%;
    --card-foreground: 0 0% 98%;

    --popover: 210 11.1% 3.53%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h3 code {
  @apply !text-lg md:!text-xl;
}

pre {
  @apply !px-0 rounded-lg overflow-x-auto py-4;
}

pre [data-line] {
  @apply px-4;
}

code {
  @apply text-sm md:text-base !leading-loose;
}

pre > code {
  counter-reset: line;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply inline-block w-4 mr-4 text-right text-gray-500;
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}
